## Soal UTS

In [19]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

### Jawaban Task 1

In [20]:
# Task 1

sorted_companies = sorted(
    [{'name': company['name']} for company in company_detail_list],
    key=lambda x: x['name'],
    reverse=True
)
print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

### Jawaban Task 2

In [21]:
# Task 2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

### Jawaban Task 3

In [22]:
# Task 3
# Creating a dictionary to map each domain to the employees

employees_by_domain = {}
for employee in employee_detail_list:
    # Find the company of the employee
    company = next((comp for comp in company_detail_list if comp['name'] == employee['company']), None)
    if company:
        domain = company['domain']
        # Initialize domain key if not present
        if domain not in employees_by_domain:
            employees_by_domain[domain] = []
        # Append the employee's full name
        employees_by_domain[domain].append(employee['full_name'])

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

### jawaban Task 4

In [23]:
# Task 4
def get_employees_with_country():
    result = []
    for employee in employee_detail_list:
        # Find the company of the employee
        company = next((comp for comp in company_detail_list if comp['name'] == employee['company']), None)
        if company:
            result.append({
                'full_name': employee['full_name'],
                'company': employee['company'],
                'country': company['country']
            })
    return result

# Calling the function and printing the result
print(get_employees_with_country())

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

### jawaban Task 5

In [25]:
# Task 5
def get_employee_nationality_counts():
    result = []
    for company in company_detail_list:
        # Initialize dictionary for nationality count per company
        nationality_count = {}
        # Filter employees by the current company
        employees = [emp for emp in employee_detail_list if emp['company'] == company['name']]
        for employee in employees:
            nationality = employee['nationality']
            nationality_count[nationality] = nationality_count.get(nationality, 0) + 1
        # Append the company data with nationality count
        result.append({
            'company': company['name'],
            'employee_nationality': nationality_count
        })
    return result

# Calling the function and printing the result
print(get_employee_nationality_counts())

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]